/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background-color: #000; /* Set the background color to black */
    color: #fff;
    font-family: Arial, sans-serif;
}

/* Style for the game canvas */
#gameCanvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
